.form {
  width: 100%;
  
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 15px;

    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: midnightblue;
  }

  &__field {
    margin-bottom: 15px;

    label {
      display: block;

      margin-bottom: 5px;
    }

    input, select, textarea {
      display: block;

      width: 100%;
      height: 40px;

      padding: 10px;

      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 14px;
      line-height: 18px;
      color: black;

      box-sizing: border-box;

      border: 1px solid gray;
      border-radius: 5px;
    }

    textarea {
      resize: none;
    }

    &_type_checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      label {
        margin-bottom: 0;
        margin-left: 15px;
      }

      input {
        margin: 0;
        padding: 0;

        width: 20px;
        height: 20px;
      }
    }
  }

  &__action {
    text-align: right;

    input {
      padding: 0 10px;

      height: 50px;

      font-size: 18px;
      line-height: 24px;

      border: 1px solid gray;
      border-radius: 5px;

      background: lightgray;
    }
  }

  &__field-caption {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    color: gray;
  }

  &_type_inline {
    width: 100%;

    margin: 10px 0;
    padding-top: 10px;

    border-top: 1px dashed darkgreen;

    form {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .form__field {
      flex-grow: 1;

      margin: 0 15px 0 0;

      label {
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
      }
    }

    .form__action {
      margin: 0;

      input {
        height: 40px;

        font-size: 16px;
        line-height: 22px;

        background: lightgray;
      }
    }
  }
}
